html, body{
    margin: 0;
    margin-bottom: 15px;
    border: 0;
    padding: 0;
    top: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   /*font: 13px/20px Helvetica, Tahoma, Verdana, sans-serif;*/
   font-family: "Trebuchet MS";
   font-size: 12px;
    background-image: url(../images/bg.jpg);
}

div.firstBar{
    background: #f3f3f3;
    background: rgb(0,142,159);
    height: 30px;
    line-height: 30px;
    color: white;
}

.firstbar, p{
    margin-left: 10px;
    margin-top: 0;
}

div.footer{

    background: rgb(0,142,159);
    height: 30px;
    line-height: 30px;
    color: white;
}

.footer p{
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

span.deconnexion{
    float:right;
    margin-right: 10px;
}
span.deconnexion a{
    text-decoration: none;
    color: white;
}

div.toolBar{
    /*margin-left: 10px;*/
}
div.toolBar ul.navtool{
    padding:0;
    list-style-type: none;
    height: 30px;
}

/*div.menu{
    width: auto;
}*/
ul.navtool li {
    list-style-type: none;
    padding:0; 
    margin:0;
    margin-right: 10px;
    float:left;
    display: block;
}

div#content{ 
    width: 1270px;
    /*width: auto;*/
    max-width: 1300px;
    margin-left: 10px;
}

ul.nav
{
    padding:0;
    list-style-type: none;
    height: 26px;
    /*width:500px;margin:0 auto;*/ /*Uncomment this line to make the menu center-aligned.*/
}
ul.sub-nav{
    padding:0;
    list-style-type: none;
}


ul.nav li
{ 
    /*border:1px solid #65A2DC;*/
    border:1px solid rgb(0,142,159);
    border-right:none;
    list-style-type: none;
    padding:0;margin:0;
    float:left;
    display: block;
}

ul.sub-nav li{
    /*border:1px solid rgb(0,142,159);*/
    border-right:none;
    list-style-type: none;
    padding:0;
    margin:0;
    float:left;
    display: block;
}

ul.nav li.lastItem
{ 
    border-right:1px solid #65A2DC;
}

ul.nav li a
{
    padding: 0 20px;
    /*background-image: url(bg.gif);*/
    background: rgb(0,142,159);
    border:1px solid #DDECF9;
    border-top:1px solid #FFFFFF;
    color: white;
    text-align: left;
    text-decoration:none;
    display: block;
    float: left;
    /*font: bold 12px Arial;*/
    line-height: 26px;
}
ul.sub-nav li a{
    padding: 0 20px;
    color: rgb(243,112,33);
    text-align: left;
    text-decoration:none;
    display: block;
    float: left;
    font: normal 12px Arial;
}

ul.nav li a:hover, ul.nav li a.current
{
    background-position:0 -40px;
    background: rgb(243,112,33);
}

ul.nav li a:active, ul.nav li a.current
{
    background-position:0 -40px;
    background: rgb(243,112,33);
}

ul.sub-nav li a:hover{
    text-decoration: underline;
}

div#plainContent{
    margin-top: 75px;
    width: 800px;
    max-width: 800px;
}

div#plainContent div.breadcrumb span.design{
    font-size: 30px;
    color: rgb(0,51,153);
}

div.breadcrumb hr{
    height: 2px;
    color: rgb(243,112,33);
    background-color: rgb(255,153,51);
    border: 0;
}

/*
.dashboard{
    margin-top: 30px;
}
.dashboard h3{
    color: rgb(0,51,153);
}
.dashboard table, thead, tr, th, td{
    width: 800px;
    border: 0;
}

.dashboard table thead tr th{
    text-align: left;
    text-decoration: underline;
    color: rgb(0,142,159);
}
*/

.board{
    font-weight: bold;
    font-size: 20px;
    color: rgb(0,142,159);
}

.error{

    color: red !important;
}