table { 
		min-width: 800px; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	/*background: rgb(0,142,159)*/
}
th { 
	/*background: #333; */
	background: rgb(0,150,160);
	color: white; 
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}

.dashboard{
    margin-top: 30px;
}
/*
.dashboard h3{
    color: rgb(0,51,153);
}
.dashboard table, thead, tr, th, td{
    width: 800px;
    border: 0;
}

.dashboard table thead tr th{
    text-align: left;
    text-decoration: underline;
    color: rgb(0,142,159);
}
*/

.linkTable{
	text-decoration: underline;
	color: blue;
}